@import "tailwindcss";
@import "@nuxt/ui";

@theme {

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;


}





.prose {
  & p {
    margin-block: 0.5rem;
  }
}
